.ticket1 {
    background-image: url(https://i.imgur.com/BrdhUjb.png);
    position: absolute;
    margin-top: -1px;
    margin-left: -100px;
    height: 570px;
    width: 383px;
}

.ticket2 {
    background-image: url(https://i.imgur.com/OcvitAd.png);
    margin-left: 283px;
    width: 953px;
    height: 570px;
}

.detailsPoster {
    transition: all 0.5s ease;
    height: 60%;
    margin: 120px 0px 0px 100px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #696969;
}

.detailsYoutube {
    position: absolute;
    margin: 40px 0px 0px 60px;
    border-radius: 25px;
    box-shadow: 1px 2px 3px #696969;
}

.movie-title {
    position: absolute;
    margin: 45px 0px 0px 65px;
    width: 300px;
    height: 70px;
    text-align: center;
    text-shadow: 0px 0px 1.5px #ffa500;
}

.detailsPoster:hover {
    transition: all 0.5s ease;
    box-shadow: 0px 0px 10px #ffa500;
    rotation: 360deg;
}
.ticket:hover {
    animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

@keyframes shake {
    10%, 100% {
        transform: translate3d(0px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.ticket:hover > .ticket1 {
    animation-timing-function: ease;
    animation: anim 1.5s forwards;
}

@keyframes anim {
    100% {
        transform-origin: 100% 90%;
        transform: rotate(-15deg);
    }
}

.movieInfoBg {
    background-color: white;
    width: 20000px;
    margin-left: -9440px;
    box-shadow: inset 0px 0px 8px #696969;
}

.visually-hidden {
    position: absolute;
    left: -100vw;
}

.form-check-label {
    display: flex;
    position: absolute;
    text-shadow: 0px 0.5px 0.5px darkgray;
    
}

.watchIcon:hover::after {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
    content: 'Add to Watch List';
    overflow: hidden;
    white-space: nowrap;
    animation: typingIn 1.5s;
}
.watchedIcon:hover::after {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
    content: 'Add to Watched';
    overflow: hidden;
    white-space: nowrap;
    animation: typingIn 1.5s;
}
.favIcon:hover::after {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
    content: 'Add to Favorites';
    overflow: hidden;
    white-space: nowrap;
    animation: typingIn 1.5s;
}

input[type=checkbox]:checked + label {
    -webkit-transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
    transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
    color: red;
    transition: all 0.5s;
}
input[type=checkbox]:checked + label:hover {
    transition: all 0.5s;
}
label {
    transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
}

.form-check-label:hover {
    transform: scale(1.10);
}
.form-check-label:active {
    transform: scale(1);
}
.form-check-label {
    transition: all 0.5s;
}

input[type=checkbox]:checked + .watchIcon:hover::after {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
    content: 'Remove from Watch List';
    overflow: hidden;
    white-space: nowrap;
    animation: typingIn 1.5s;
}

input[type=checkbox]:checked + .watchedIcon:hover::after {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
    content: 'Remove from Watched';
    overflow: hidden;
    white-space: nowrap;
    animation: typingIn 1.5s;
}
input[type=checkbox]:checked + .favIcon:hover::after {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
    content: 'Remove From Favorites';
    overflow: hidden;
    white-space: nowrap;
    animation: typingIn 1.5s;
}

@keyframes typingIn {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}
img {
    text-indent: -10000px
}
.crew {
    position: absolute;
    bottom: 1px;
    left: 4px;
    min-height: 38px;
    min-width: 143px;
    max-width: 143px;
    z-index: 1;
}
.crewDep {
    text-decoration: underline;
    font-size: 16px;
    text-align: center;
    margin-bottom: 1px;
}
.crewJob {
    font-size: 14px;
    text-align: center;
}