html body {
    padding-top: 0px;
    background-image: url(https://i.imgur.com/BNAJ4cQ.png);
}

.navbar {
    background-image: url(https://i.imgur.com/t89NYoH.png);
    height: 138px;
}

.navbar-header {
    text-align: center;
}

.login_Btn {
    padding: 4px 10px;
    text-align: right;
}

#loginBtn {
    width: 6%;
    -moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow: inset 0 0 3px #000000;
}
.searchbar {
    margin-bottom: auto;
    margin-top: 9%;
    height: 70px;
    width: 600px;
    background-color: white;
    border-radius: 100px;
    padding: 12px;
    -moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow: inset 0 0 5px #696969;
}

.search_input {
    color: navy;
    border: 0;
    outline: 0;
    background: none;
    line-height: 40px;
    margin-left: 5px;
}

.searchbar:focus-within {
    border: 1.5px solid #ffa500;
}

.scrolling-wrapper {
    overflow-x: auto;
    width: 100%;
}


.card-block {
    height: 250px;
    background-color: #fff;
    border: none;
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-in-out !important;
    border-radius: 24px;

}

.card-block:hover {
    transform: translateY(-5px);
    box-shadow: none;
}