@model MovieDetailsViewModel

@{
    ViewBag.Title = "title";
}


<div class="container">


    <div class="movie-card">
        <div class="movie-header manOfSteel">
            <div class="header-icon-container">
                <a href="#">
                    <i class="material-icons header-icon"></i>
                </a>
            </div>
        </div><!--movie-header-->
        <div class="movie-content">
            <div class="movie-content-header">

                <h3 class="movie-title">@Model.Title</h3>

                <div class="imax-logo"><img src="@Model.PosterUrl"/></div>
            </div>
            <div class="movie-info">
                <div class="info-section">
                    <label>Overview</label>
                    <p>@Model.Overview</p>
                </div><!--date,time-->
            </div>
        </div><!--movie-content-->
    </div><!--movie-card-->


</div><!--container-->