@model MovieDetailsViewModel

@{
    ViewBag.Title = "title";
}

<div class="ticket m-t-70">
    <div class="ticket1">
        <h2 class="movie-title">@Model.Title</h2>
        <img class="detailsPoster" src="@Model.PosterUrl">
    </div>
    <div class="ticket2">
        <iframe class="detailsYoutube" width="800" height="480" src="https://www.youtube.com/embed/AZGcmvrTX9M" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="movieInfoBg m-t-80">
    <div class="container p-b-40 p-t-40 movieInfo ">
        <h3 class="p-b-10">Overview</h3>
        <h5 class="font-italic">&emsp; @Model.Overview</h5>
    </div>
</div>

