@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


@if (Model.ShowRequestId)
{
    <h3><b>@nameof(Model.RequestId):</b>@Model.RequestId</h3>
}
else
{
    <h3>@Model.MessageTitle</h3>
}
<p>
    @Model.MessageBody
</p>
