
@{
    ViewData["Title"] = "InternalServerError";
}
<div class="text-center">
    <h1>Internal Server Error</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <p>Back to <a href="/">home</a>try from there.</p>
</div>
