@using Vesizle.NodejsApi.Entities
@model VesizleMvcCore.NodejsApi.ApiResults.ApiSearchResult
@{
    ViewBag.Title = "Home Page";
}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
            <button class="btn btn-default">
                <span class="fas fa-search" aria-hidden="true"></span>
            </button>
            <input class="search_input" type="text" placeholder="Search..">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Burak Yücel</h2>
        <p>
           Latino lover
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ali Yıldızöz</h2>
        <p>Sert sert</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Umut Bozdağ</h2>
        <p>bruh</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ayberk Düzova</h2>
        <p>Barış brağ</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>