@model UserUpdateViewModel

@{
    ViewData["Title"] = "Update";
}


<div class="clappingBoard m-t-70">
    <div class="clappingBoardTop">
    </div>
    <div class="clappingBoardBottomUpdate">
        <form asp-action="Edit">
            <div class="userInfoUpdate">
                <div class="form-group update">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group update">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group update">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group update">
                    <h2 class="lastname p-t-2"><a href="@Url.Action("UpdatePassword", "Profile")">Change Password</a></h2>
                </div>

                <div class="form-group update">
                    <input type="submit" value="Save" class="btn btn-primary m-l-70" />
                    <a asp-action="Delete" value="Delete" class="btn btn-danger m-l-30">Delete</a>

                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml");}
}