@model FavoriteListViewModel
@{
    ViewData["Title"] = "Favorites";
}
<h1>Favorites</h1>
<hr/>

<style>
    .container {
        padding: 2rem 0rem;
    }

    h4 {
        margin: 2rem 0rem 1rem;
    }

    .table-image {
    td, th {
        vertical-align: middle;
    }
    }
</style>

<div class="row">
    <div class="col-12">
        <table class="table table-image">
            <thead>
            <tr>
                <th scope="col">Movie Id</th>
                <th scope="col">Poster</th>
                <th scope="col">Title</th>
                <th scope="col">Vote Average</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var favorite in Model.FavoriteDetailViewModels)
            {
                <tr>
                    <th scope="row">@favorite.MovieId</th>
                    <td class="w-25">
                        <img src="@favorite.PosterUrl" class="img-fluid img-thumbnail" alt="Sheep">
                    </td>
                    <td>@favorite.Title</td>
                    <td>@favorite.VoteAverage</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

