@model UpdatePasswordViewModel
@{
    ViewData["Title"] = "UpdatePassword";
}

<div class="clappingBoard m-t-70">
    <div class="clappingBoardTop">
    </div>
    <div class="clappingBoardBottomUpdate">
        <form asp-action="UpdatePassword">
            <div class="userInfoUpdate">
                <div class="form-group update">
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group update">
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group update">
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group update">
                    <a href="@Url.Action("Edit", "Profile")">Edit Profile</a>
                </div>
                <div class="form-group update">
                    <input type="submit" value="Save" class="btn btn-primary m-l-70" />

                    <a asp-action="Index" value="Cancel" class="btn btn-danger m-l-30">Cancel</a>

                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml");}
}